<h1>Name Generators</h1>

<% @generators.each do |g| %>
  <div class="generator">
    <h2>
      <%= link_to g.name, generator_path(g) %>
    </h2>
    <p>
      <%= link_to "Delete", generator_path(g), method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to "Edit", edit_generator_path(g) %>
    </p>
  </div>
<% end %>

<%= link_to "New Generator", new_generator_path %>
