@import "colours.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: $base-color;
  color: $text-color;
}

a {
  color: $text-color;
}

header {
  padding: 20px;
  width: 100%;

  a {
    text-decoration: none;
  }
}

#logo {
  display: inline-block;
  width: 50%;
}

#header-links {
  display: inline-block;
  width: 50%;
  text-align: right;

  a {
    padding: 0 10px;
  }
}

#container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  min-height: 75%;

  h1 {
    margin: 1em 0;
  }

  h2 {
    margin: 0.25em 0;
  }
}

.field {
  padding: 5px;
  label {
    display: block;
  }

  input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: $text-color;
    font-size: 1.25em;
    border: 2px solid $light-highlight;
  }

  input[type="submit"] {
    background-color: $dark-background;
    color: $text-color;
    padding: 15px 10px;
    border: 2px solid $dark-highlight;
  }
}
