// Place all the styles related to the generators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#generator_seed {
  height: 200px;
}

#new_generator {
  margin: 20px 0;
}

#generator_list {
  margin: 20px 0;
}

.generator {
  margin: 20px 0;
}
