@import "colours.scss";

#generator_seed {
  height: 200px;
}

#new_generator {
  margin: 20px 0;
}

#generator_list {
  margin: 20px 0;
}

.generator {
  margin: 20px 0;
}

form.refresh {
  margin: 25px 0;

  input, textarea {
    margin: 0 5px;
    font-size: 1em;
    padding: 5px;
    background-color: $text-color;
    border: 2px solid $dark-highlight;
  }

  input[type="submit"] {
    background-color: $dark-highlight;
    color: $text-color;
    padding: 5px 10px;
    border: 2px solid $dark-background;
  }
}
