@import "colours.scss";

#session-container {
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}
